{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}
<!-- github button -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<style>
    .md-footer-copyright {
        display: none
    }
    .md-footer-nav__inner {
        display: none
    }

    .md-content {
        display: none
    }

    .tx-container {

        height: fit-content;
        padding-top: 0rem;
        background: linear-gradient(var(--md-primary-fg-color), var(--md-primary-fg-color--dark) 60%, #fff 99%);
    }

    .tx-hero {
        color: var(--md-primary-bg-color);
        justify-content: center;
        margin: 32px 2.5rem;
    }

    .tx-hero h1 {
        margin-bottom: 0rem;
        color: currentColor;
        font-weight: 700
    }
    .tx-hero__content {
        padding-bottom: 6rem;
        margin: 0 auto;
        /* justify-content: left;
        padding-right: 3rem; */
    }

    .tx-hero__content h1 {
        font-size: 2.5rem;
    }

    .tx-hero__content_small {
        justify-content: left;
        padding-right: 3rem;
    }

    .tx-hero__image {
        max-width: 100%;
        max-height: 100%;
        order: 1;
        padding-right: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .tx-container-2 {
        padding: 0rem;
        background-color: white;
        margin-bottom: 0px;
    }

    .tx-hero__image-2 {
        max-width: 100%;
        max-height: 100%;
        order: 1;
        padding-right: 0.1rem;
        padding-left: 0.25rem;
        padding-top: 10px;
        padding-bottom: 10px;
        float: left;
    }

    .tx-hero__content-2 {
        margin-left: 50px;
        justify-content: left;
        /* color: #009485; */
        font-weight: 300;
        padding: 0 0px;
        padding-bottom: 40px;
        word-break: break-word;
        float: right;
    }
    .tx-hero__content-2 h1 {
        margin-top: 10px;
        color: black;
        /* color: #009485; */
        font-weight: 600;
        /* font-size: 36px; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        /*font-family: inherit;*/
    }
    .tx-hero__content-2 p {
        font-size: 17px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        color: black;
        display: block;
    }

    .tx-container-3 {
        height: auto;

    }

    @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
            display: none
        }

        .tx-hero {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tx-hero__content {
            max-width: 28rem;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            margin-left: 1.0rem;
            margin-right: 4.0rem;
            align-items: center;
        }
    }

    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none
        }

        .top-hr {
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }
    }

</style>

<!-- 1st Section -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero image -->
            <div class="tx-hero__image">
                <img
                        src="assets/images/logo.png"
                        alt=""
                        width="480"
                        draggable="false"
                >
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1  id="pdearena">CliffordLayers</h1>
                <p>
                    Neural Network layers inspired by Clifford / Geometric Algebras. <br><br>

                    <!-- Based on the
                    <strong>
                        <a href="https://www.pytorchlightning.ai/">
                            PyTorch Lightning Framework
                        </a>.
                    </strong> -->
                </p><br>

                <a
                href="{{ page.next_page.url | url }}"
                title="{{ page.next_page.title | e }}"
                class="md-button md-button--primary"
                >
                Get started
                </a><br>

                <a
                href="https://github.com/microsoft/cliffordlayers"
                title="{{ lang.t('source.link.title') }}"
                class="md-button">
                Contribute on GitHub
                <img
                    class = icon
                    src="assets/images/icons/github-white.svg"
                    alt=""
                    width="24"
                    draggable="false"
                >
                </a>
                <br>

                <a
                href="./research"
                title="{{ lang.t('source.link.title') }}"
                class="md-button md-button--primary">
                Research
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20,11H4V8H20M20,15H13V13H20M20,19H13V17H20M11,19H4V13H11M20.33,4.67L18.67,3L17,4.67L15.33,3L13.67,4.67L12,3L10.33,4.67L8.67,3L7,4.67L5.33,3L3.67,4.67L2,3V19A2,2 0 0,0 4,21H20A2,2 0 0,0 22,19V3L20.33,4.67Z" />
                </svg>
                </a><br>

            </div>
        </div>
    </div>
</section>


<section class="tx-container-2">
</section>

<section class="tx-container-3">
    <div class ="md-grid md-typeset">
    <div class="tx-hero__content-2">
        <h1 id="citation">Citation</h1>
        <div class="highlight"><pre id="__code_2"><span></span><button class="md-clipboard md-icon" title="Copy to clipboard" data-clipboard-target="#__code_2 > code"></button><code tabindex="0"><a id="__codelineno-1-1" name="__codelineno-1-1" href="#__codelineno-1-1"></a><span class="nc">@article</span><span class="p">{</span><span class="nl">brandstetter2022clifford</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-2" name="__codelineno-1-2" href="#__codelineno-1-2"></a><span class="w">  </span><span class="na">title</span><span class="p">=</span><span class="s">{Clifford Neural Layers for PDE Modeling}</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-3" name="__codelineno-1-3" href="#__codelineno-1-3"></a><span class="w">  </span><span class="na">author</span><span class="p">=</span><span class="s">{Brandstetter, Johannes and Berg, Rianne van den and Welling, Max and Gupta, Jayesh K}</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-4" name="__codelineno-1-4" href="#__codelineno-1-4"></a><span class="w">  </span><span class="na">journal</span><span class="p">=</span><span class="s">{arXiv preprint arXiv:2209.04934}</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-5" name="__codelineno-1-5" href="#__codelineno-1-5"></a><span class="w">  </span><span class="na">year</span><span class="p">=</span><span class="s">{2022}</span><span class="w"></span>
            <a id="__codelineno-1-6" name="__codelineno-1-6" href="#__codelineno-1-6"></a><span class="p">}</span><span class="w"></span>
            </code></pre></div>
        <div class="highlight"><pre id="__code_2"><span></span><button class="md-clipboard md-icon" title="Copy to clipboard" data-clipboard-target="#__code_2 > code"></button><code tabindex="0"><a id="__codelineno-1-1" name="__codelineno-1-1" href="#__codelineno-1-1"></a><span class="nc">@article</span><span class="p">{</span><span class="nl">ruhe2023geometric</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-2" name="__codelineno-1-2" href="#__codelineno-1-2"></a><span class="w">  </span><span class="na">title</span><span class="p">=</span><span class="s">{Geometric Clifford Algebra Networks}</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-3" name="__codelineno-1-3" href="#__codelineno-1-3"></a><span class="w">  </span><span class="na">author</span><span class="p">=</span><span class="s">{Ruhe, David and Gupta, Jayesh K and de Keninck, Steven and Welling, Max and Brandstetter, Johannes}</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-4" name="__codelineno-1-4" href="#__codelineno-1-4"></a><span class="w">  </span><span class="na">journal</span><span class="p">=</span><span class="s">{arXiv preprint arXiv:2302.06594}</span><span class="p">,</span><span class="w"></span>
            <a id="__codelineno-1-5" name="__codelineno-1-5" href="#__codelineno-1-5"></a><span class="w">  </span><span class="na">year</span><span class="p">=</span><span class="s">{2023}</span><span class="w"></span>
            <a id="__codelineno-1-6" name="__codelineno-1-6" href="#__codelineno-1-6"></a><span class="p">}</span><span class="w"></span>
            </code></pre></div>

        <p>Also consider starring <a href="https://github.com/microsoft/cliffordlayers">the github repo</a>.
            <a class="github-button" href="https://github.com/microsoft/cliffordlayers" data-icon="octicon-star" data-show-count="true" aria-label="Star microsoft/cliffordlayers on GitHub">Star</a>         </p>

    </div>
    </div>
</section>
{% endblock %}
<!-- Footer Section -->
{% block footer %}{% endblock %}
